body{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 2000px;
}
.tnx{
    color: blue;
}
.world{
    color: hotpink;
}
p{
    text-align: justify;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 45%;
    padding-left: 3%;
}
.half-width img{
    width: 90%;
    padding-left: 12%;
    padding-right: 5%;
    padding-top: 13%;
    padding-bottom: 20%;
}
h1 .world{
    padding-left: 5%;
    padding-top: 10%;
}
h1 .tnx{
    padding-left: 5%;
    padding-top: 10%;
}
h1.world{
    padding-left: 45%;
}
.link-button{
    text-decoration: none;
    background-color:rgb(253, 70, 162);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 10px;
}
.top-banner{
    background-image: url(new-folder/sub.jpg);
    background-repeat: no-repeat;
}
.dreem-big .half-width img{
    padding-left: 5%;
    padding-bottom: 10%;
}
.dreem-big .half-width h1{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 30px;
}
.tin{
    text-decoration: none;
    background-color: rgb(57, 115, 238);
    border-radius: 5px;
    color: white;
    font-weight: 900;
    padding: 10px 30px;
    text-align: right;
}
.hot-pink{
    color: rgb(250, 43, 146);
}
.side-banner{
    background-image: url(new-folder/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;margin-bottom: 10%;
}
.experience-item{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-left-style: groove;
    border-left-width: 20px;
    border-color: rgb(97, 97, 247);
    box-shadow: 10px 10px 40px darkorange;
}
.blue-color{
    color: mediumblue;
}
.text-shadow{
    color: orange;
    font-stretch: wider;
}
footer p{
    text-align: center;
}